@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Patua+One|Permanent+Marker|Playfair+Display|Quicksand');

/*****LEFTSIDE BAR*****/
h1 {
    color: #9b8a28;
    }

.school {
    color: #008648;
    font-size: 1.5em;
}

.degree {
    color: #008648;
    font-size: 1.2em;
    font-family: 'Playfair Display';
}

#pic {
    margin-top: 5em;
    border-radius: 50%;
}

#left-col {
    height: 100vh;
    background-color: #D0F1BF;
}

a {
    color: #9b8a28
}

a:hover {
    color: white;
}



/*****RIGHTSIDE BAR*****/
#name-right {
    font-family: 'Patua One';
    font-size: 4em;
}

#

h5 {
    font-size: 1.2em;
}
h3 {
    color: #008648;
}

#right-col h3 {
    font-family: 'Abril Fatface';
    font-size: 2.2em;
}

#right-col {
    background-color: #d6ffdf;
    margin-left: 20.5em;
}

#objectives {
    margin-top: 3em;
    font-family: 'Quicksand';
}

#ed {
    font-family: 'Quicksand';
}

#cocu {
    font-family: 'Quicksand';
}

#attended {
    font-family: 'Quicksand';
}

#conducted {
    font-family: 'Quicksand';
}

#papers {
    font-family: 'Quicksand';
}

#background {
    font-family: 'Quicksand';
}

#ref {
    font-family: 'Quicksand';
}